{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
    <h1>{{ blog.title }}</h1>
    <h6 class="text-muted">Published on {{ blog.pub_date }} by {{ blog.author }}</h6>
    <p>{{ blog.content|safe }}</p>

    <hr>
    <div class="comments">
        <h1>Comments</h1>
        {% if blog.comments.all %}
        <ul class="list-group pb-3">
            {% for comment in blog.comments.all %}
            <li class="list-group-item">
                <h3>{{ comment.name }}</h3>
                <small>{{comment.date}}</small>
                <p>{{ comment.comment }}</p>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <a href="{% url 'blog:add_comment' blog.pk %}">Post a Comment</a>
    </div>
</div>
{% endblock content %}